body {
  height: 100%;
}
header {
  text-align: center;
  border-bottom: solid 1px grey;
  background-color: rgb(233, 223, 223);
}
main {
  text-align: center;
}
main img {
  width: 100%;
  height: auto;
}
.title {
  color: darkgreen;
  text-decoration: underline;
}
footer {
  height: 7vh;
  width: 100%;
  text-align: center;
  border-top: solid 1px grey;
  background-color: rgb(233, 223, 223);
}
footer a {
  font-size: 4vh;
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkgreen;
  text-decoration: underline;
}
