body,
html {
  height: 100%;
  max-width: 500px;
  margin: auto;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
}
header {
  text-align: center;
  border-bottom: solid 1px grey;
  background-color: rgb(241, 241, 241);
  position: relative;
}
header img {
  width: 10%;
  height: auto;
  position: absolute;
  top: 5px;
  left: 10px;
}
main {
  text-align: center;
}
main img {
  width: 100%;
  height: auto;
}
.title {
  color: darkgreen;
  text-decoration: underline;
}
footer {
  height: 7vh;
  width: 100%;
  text-align: center;
  border-top: solid 1px grey;
  background-color: rgb(241, 241, 241);
}
footer a {
  font-size: 4vh;
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkgreen;
  text-decoration: underline;
}
